<h1>Olá Neuza</h1>
<p>Cliente: <%= @contato.nome %></p>
<p> E-mail: <%= @contato.email %></p>
<p>Cidade: <%= @contato.cidade %></p>
<p>Estado: <%= @contato.estado %></p>
<p>Mensagem:</p>
<p><%= @contato.info %></p>
