<%= form_for(@contato, :html => {:id => "form", :class => "contato"}) do |f| %>
  <% if @contato.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contato.errors.count, "erro") %> encontrado:</h2>

      <ul>
      <% @contato.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.label :nome %>
    <%= f.text_field :nome %>

    <%= f.label :email %>
    <%= f.text_field :email %>

    <%= f.label :cidade %>
    <%= f.text_field :cidade %>

    <br />
    <%= f.label :estado %>
    <%= f.select :estado, (["Acre", "Alagoas", "Amazonas", "Bahia", "Ceará", "Distrito Federal", "Espírito Santos",
                            "Goiás", "Maranhão", "Mato Grosso do Sul", "Minas Gerais", "Pará", "Paraiba", "Pernambuco",
                            "Piaui", "Rio de Janeiro", "Rio Grande do Norte", "Rio Grande do sul", "Rondônia", "Roraima",
                            "Santa Catarina", "São Paulo", "Sergipe", "Tocantins"]) %>
    <%= f.label :info %>
    <%= f.text_area :info %>

  <div class="actions">
    <%= f.submit 'Enviar', :class=>'button_contato' %>
  </div>
    <div class="spacer"></div>
<% end %>
