<h1>Lista de contatos</h1>

<table class="table table-striped">
  <tr>
    <th>Nome</th>
    <th>Email</th>
    <th>Cidade</th>
    <th>Estado</th>
    <th>Mensagem</th>
    <th colspan="3">Ações</th>

  </tr>

<% @contatos.each do |contato| %>
  <tr>
    <td><%= contato.nome %></td>
    <td><%= contato.email %></td>
    <td><%= contato.cidade %></td>
    <td><%= contato.estado %></td>
    <td><%= contato.info %></td>
    <td><%= link_to 'Mostrar', contato %></td>
    <td><%= link_to 'Alterar', edit_contato_path(contato) %></td>
    <td><%= link_to 'Deletar', contato, method: :delete, data: { confirm: 'Você realmente quer excluir?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= paginate @contatos %>
