<h1>Listing contatos</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Email</th>
    <th>Cidade</th>
    <th>Estado</th>
    <th>Info</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contatos.each do |contato| %>
  <tr>
    <td><%= contato.nome %></td>
    <td><%= contato.email %></td>
    <td><%= contato.cidade %></td>
    <td><%= contato.estado %></td>
    <td><%= contato.info %></td>
    <td><%= link_to 'Show', contato %></td>
    <td><%= link_to 'Edit', edit_contato_path(contato) %></td>
    <td><%= link_to 'Destroy', contato, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Contato', new_contato_path %>
