<table class="table table-striped table-bordered table-condensed">

<tr>
<th>Nome:</th>
  <td><%= @imovel.nome %></td>
</tr>

<tr>
  <th>Descricao:</th>
  <td><%= @imovel.descricao %></td>
</tr>


</table>
<h3>Fotos</h3>
<ul class="thumbnails">
<% @imovel.fotos.each do |foto| %>
      <li class="span2">
        <div class="thumbnail">
    <%= image_tag foto.imagem.url(:medium) %>
        </div>
      </li>
<% end %>
</ul>
<br />

<%= link_to 'Alterar', edit_imovel_path(@imovel), :class => "btn btn-warning" %>
<%= link_to 'Voltar', imoveis_path, :class => "btn" %>
